<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body class="bg-light">

<div class="container mt-5">
  <h1 class="mb-4" style="color: #3f51b5;">News Feed</h1>

  <!-- Display all posts -->
  <div th:each="post : ${posts}" class="card mb-3" style="background: linear-gradient(to right, #4b6cb7, #7b50a0, #be60ad);">
    <div class="card-body">
      <h5 class="card-title" th:text="${post.user.username}" style="color: #ffffff;"></h5>
      <p class="card-text" th:text="${post.content}" style="color: #ffffff;"></p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UoTqzMS9Fq7NRMSf2x0e63IgpDBl6KMCIpzpG5L8rYjDvq4tda5A5ZAp8D5IcFbi"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>